<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          src="https://images.chesscomfiles.com/uploads/v1/news/798234.f4e854a0.668x375o.f6b971e6139f.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Queens Gambit</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img
          src="https://images.chesscomfiles.com/uploads/v1/news/798234.f4e854a0.668x375o.f6b971e6139f.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">The Way Back</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img
          src="https://images.chesscomfiles.com/uploads/v1/news/798234.f4e854a0.668x375o.f6b971e6139f.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">1970</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
